@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Gowun+Batang&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap");
/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
}
img {
  border: 0;
  vertical-align: middle;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
/* 상단 */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 39, 146);
}
/* 로고 영역 */
.logo {
  width: 20%;
  height: 100%;
  padding: 20px 10px;
  background-color: rgb(0, 39, 146);
}
.logo img {
  width: 100%;
  padding: 10px;
}
/* 메뉴 */
.Menu {
  position: relative;
  display: flex;
  width: 600px;
  height: 100%;
  margin-top: 60px;
  margin-right: 20px;
  text-align: center;
  /* background-color: bisque; */
}
/* 메뉴 */
.Menu li {
  position: relative;
  width: calc(100% / 4);
}
.Menu li a {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}
/* 메뉴 호버 */
.Menu li:hover > a {
  background-color: rgb(0, 39, 146);
  color: #fff;
}
.Menu:hover .submenu {
  display: block;
}
/* 서브메뉴 */
.submenu {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  width: 100%;
  z-index: 2;
}
.submenu li {
  width: 100%;
  text-align: center;
}
.submenu li a {
  background-color: rgb(0, 39, 146);
  color: #fff;
}
/* 서브메뉴 호버 */
.submenu li:hover > a {
  background-color: #fff;
  color: rgb(0, 39, 146);
}
.nav:hover .submenu-bg {
  display: block;
}
/* 서브 메뉴 배경 */
.submenu-bg {
  position: absolute;
  display: none;
  top: 40px;
  right: -20px;
  z-index: 1;
  width: 1200px;
  height: 130px;
  background-color: rgb(0, 39, 146);
}
/* 이미지 슬라이드 */
.img-slide {
  position: relative;
  width: 100%;
  height: 300px;
}
.img-slide span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  font-family: "Gowun Batang", serif;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
/* 콘텐츠 영역 */
.contents {
  display: flex;
  height: 200px;
  background-color: rgb(124, 163, 248);
  /* background-color: antiquewhite; */
}
/* 공지사항 */
.notice {
  width: 400px;
}
.notice li {
  width: 100%;
}
.notice > li > a {
  margin-left: 20px;
  padding: 10px;
  width: 85px;
  text-align: center;
  background-color: #2167ff;
  color: #fff;
  font-family: "Gowun Batang", serif;
}
/* 공지사항 리스트 */
.notice-list li {
  width: 100%;
  background-color: #3968ce;
  padding: 2px 10px;
}
.notice-list li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5.5px;
  color: #fff;
  font-family: "Gowun Batang", serif;
}
.notice-list li:nth-child(even) {
  background-color: #4882ff;
}
/* 갤러리 */
.gallery {
  width: 400px;
}
.gallery > li > a {
  margin-left: 20px;
  padding: 10px;
  width: 80px;
  text-align: center;
  background-color: #0045da;
  color: #fff;
  font-family: "Gowun Batang", serif;
}
.gallery ul {
  display: flex;
  width: 100%;
}
.gallery > ul > li {
  width: calc(100% / 3);
}
.gallery img {
  width: 100%;
}
/* 바로가기 */
.direct {
  position: relative;
  width: 400px;
}
.direct a{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.direct img {
  width: 100%;
  height: 100%;
}
.direct span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gowun Batang", serif;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 30px;
}
/* 하단 */
footer {
  display: flex;
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 39, 146);
}
/* 하단 메뉴 + 카피 영역 */
.bt {
  width: 80%;
  height: 100%;
  text-align: center;
  background-color: rgb(0, 39, 146);
  color: #fff;
}
/* 하단 메뉴 */
.bt-menu {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5px 0;
}
.bt-menu li a {
  color: #fff;
}
.copy{
    padding: 10px 0;
    font-size: 13px;
}
/* 패밀리 사이트 */
.family {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color:rgb(0, 39, 146);
}
.family a{
    color: #fff;
}
